android_key_name='' //simple name
android_sign_key='' //base64 of ket
androidSigning = '' //json for config in format {"storeFile":"<android_key_name> the same name as android_key_name", "storePassword":"<android_key_password>", "keyAlias":"<android_key_alias>", "keyPassword":"<android_key_alias_password>"}
applicationKey = '' // this same is used on backend Q_PROHECT/local/app.json->Q.Users.apps.ios.<project_name>.secret 
androidFirebaseConfig = '' //full json in one line
iosFirebaseConfig = ''  //full plist in one line
repoCredentialsId = '' //see in jenkins credentials item with login and password for access to bundleRepo url
       
bundleRepo='' //url to repo
bundleBranch='' //branch to clon
bundleType='' //could be git or hg
bundleQProjectPath='' // path to locally setup project
bundleQ=true; // is Q project ot bundle all repo
iosTeamName='' //name of Apple Developer account
iosTeamId='' // id of Apple Develiper account
localFolderName='' // local folder name. Without spaces
fbId='' // ID for FB API 
fbName='' // Name for FB API !!! without \" !!!