android_key_name='' //simple name
android_sign_key='' //base64 of ket
androidSigning = '' //json for config
applicationKey = ''
androidFirebaseConfig = '' //full json in one line
iosFirebaseConfig = ''  //full plist in one line
repoCredentialsId = ''
       
bundleRepo=''
bundleBranch=''
bundleType='' //could be git
bundleQProjectPath=''
bundleQ=true;
iosTeamName=''
iosTeamId=''
localFolderName=''
fbId=''
fbName='' // without \"