android_key_name=''
android_sign_key=''
androidSigning = ''
applicationKey = ''
androidFirebaseConfig = ''
iosFirebaseConfig = ''
repoCredentialsId = ''
       
bundleRepo=''
bundleBranch=''
bundleType='' //could be git
bundleQProjectPath=''
bundleQ=true;
iosTeamName=''
iosTeamId=''
localFolderName=''
fbId=''
fbName=''